<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111587955046-gtj50s8sjsjm2vvb6q0v5ac90nl6jaf8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111587955046-gtj50s8sjsjm2vvb6q0v5ac90nl6jaf8</string>
	<key>API_KEY</key>
	<string>AIzaSyBpkqQNhjxOvWS93TBbptxgAoPXtKwrQFc</string>
	<key>GCM_SENDER_ID</key>
	<string>111587955046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assemblyAnimations</string>
	<key>PROJECT_ID</key>
	<string>assembly-animation</string>
	<key>STORAGE_BUCKET</key>
	<string>assembly-animation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111587955046:ios:c704a09dab8d9ae8f9b8a7</string>
</dict>
</plist>